{% extends 'produtos/base.html' %}
{% block conteudo %}

<style>
    /* Estilo para a tabela */
    table {
        margin: 0 auto; /* Centraliza a tabela */
        width: 80%; /* Define a largura da tabela */
        border-collapse: collapse;
        color: white; /* Cor do texto */
    }
    th, td {
        border: 1px solid #000000; /* Cor da borda */
        padding: 8px;
    }
    th {
        background-color: #333333; /* Cor de fundo do cabeçalho */
    }

    /* Alterna cores das linhas da tabela */
    tr:nth-child(even) {
        background-color: #222222; /* Cor de fundo das linhas pares */
    }

    /* Estilo para a div que contém a tabela */
    .container {
        max-height: 700px; /* Altura máxima da tabela */
        overflow-y: auto; /* Adiciona uma barra de rolagem vertical */
        overflow-x: auto; /* Adiciona uma barra de rolagem horizontal se necessário */
        background-color: black; /* Cor de fundo da div */
        padding: 10px;
    }
</style>

<body>
<P></p>

<div class="container">
    <table>
        <thead>
            <tr>
                <th colspan="4">Tabela de Produtos</th> <!-- Título da tabela -->
            </tr>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Marca</th>
                <th>Quantidade</th>
            </tr>
        </thead>
        <tbody>
            {% for produto in produtos %}
            <tr>
                <td>{{ produto.id_produto }}</td>
                <td>{{ produto.nome }}</td>
                <td>{{ produto.marca }}</td>
                <td>{{ produto.quantidade }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}




      